/*CSS reset settings here*/
*{
 margin: 0px;
 padding: 0px;
}
.wrapper{
  /* background-color: silver; */
  margin:10px;
}
    .col{
        display: inline-block;
        vertical-align: top ;
        padding: 0px 0px 0px 0px;
        width: 200px;
        height: 150px;
    }
    .row{
    }
    .header{
        background-color: green;
        margin-bottom: 10px;
        padding-left:20px;
    }
    .lg-1{
        background-color: blue;
    }
    .main_content{
        background-color: red;
        height: 80%;
        padding: 10px;
    }
    .subcontents{
        background-color: yellow;
        margin: 10px 10px 0px 0px;
    }
    .advertisement{
        background-color: purple;
        margin-top:10px;
    }
    @media only screen and (max-width: 480px){ /*mobile*/
        .row{
            width: 95%;
        }
        .sm-4{
            width: 100%;
        }
        .sm-0{
            display: none;
        }
    }
    @media only screen and (min-width: 481px){ /*tablet*/
        .row{
            width: 98%;
        }
        .med-4{
            width: 100%;
        }
        .med-2{
            width: 48%;
        }
        .med-0{
            display: none;
        }
    }
    @media only screen and (min-width: 1024px){ /*tablet*/
        .col{display: inline-block;}
        .row{
            width: 98%;
        }
        .lg-4{
            width: 100%;
        }
        .lg-3{
            width: 78%;
        }
        .lg-1{
            width: 30%;
        }
        .navigation{
            width: 20%;
        }
